<a href="https://colab.research.google.com/github/jxxngho/BoostCourse_1/blob/master/K-beauty%20%EC%98%A8%EB%9D%BC%EC%9D%B8%20%ED%8C%90%EB%A7%A4%EB%B6%84%EC%84%9D/k_beauty_oversea_online_sale_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 국가(대륙)별/상품군별 온라인쇼핑 해외직접판매액
* 국가통계포털 : http://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1KE10081&vw_cd=MT_ZTITLE&list_id=JF&seqNo=&lang_mode=ko&language=kor&obj_var_id=&itm_id=&conn_path=MT_ZTITLE

### K-Beauty는 성장하고 있을까? 해외 직접판매를 한다면 어느 국가로 판매전략을 세우면 좋을까?
* K-Beauty란? [K-Beauty - Wikipedia](https://en.wikipedia.org/wiki/K-Beauty)
* e : 추정치, p : 잠정치, - : 자료없음, ... : 미상자료, x : 비밀보호, ▽ : 시계열 불연 ( 단위 : 백만원 )

## 필요 라이브러리 가져오기

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

## 한글폰트 설정
* https://github.com/ychoi-kr/koreanize-matplotlib

In [1]:
# 한글폰트 사용을 위해 설치
# 아래 모듈을 설치하고 불러오면 별도의 한글폰트 설정이 필요 없습니다.
# colab 에서는 아래 모듈을 설치하고 불러와서 사용하세요. 

!pip install koreanize-matplotlib

import koreanize_matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting koreanize-matplotlib
  Downloading koreanize_matplotlib-0.1.1-py3-none-any.whl (7.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 42.7 MB/s eta 0:00:00
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from koreanize-matplotlib) (3.7.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (23.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (1.0.7)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (4.39.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (1.22.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (8.4.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->koreanize-matplotlib) (1.16.0)
Installing collected packages: koreanize-matplotlib
Successfully installed koreanize-matplotlib-0.1.1

In [3]:
# os 별로 폰트를 다르게 설정해 줍니다.
    
# 레티나 설정을 해주면 글씨가 좀 더 선명하게 보입니다.
# 폰트의 주변이 흐릿하게 보이는 것을 방지합니다.
%config InlineBackend.figure_format = 'retina'

## 데이터 로드하기

In [ ]:
# %ls data

In [ ]:
from glob import glob

# glob("data/*.csv")

In [7]:
df_raw = pd.read_csv("/content/지역별___상품군별_온라인쇼핑_해외직접구매액_20230506005902.csv", 
                     encoding="cp949")
# df_raw = pd.read_csv("https://raw.githubusercontent.com/corazzon/boostcourse-ds-510/master/data/online_oversea_sale.csv.zip", 
#                      encoding="cp949")
df_raw.shape

(323, 42)

In [11]:
# "국가(대륙)별" 데이터 빈도수 세기
df_raw["지역별(1)"].value_counts()
# df_raw.columns

아시아     102
유럽       85
북미       51
합계       17
대양주      17
중남미      17
아프리카     17
기타       17
Name: 지역별(1), dtype: int64

In [15]:
# 미국 데이터만 따로 보기
df_raw[df_raw["지역별(1)"]=='북미']

,지역별(1),지역별(2),지역별(3),상품군별(1),상품군별(2),2014.1/4,2014.2/4,2014.3/4,2014.4/4,2015.1/4,...,2020.4/4,2021.1/4,2021.2/4,2021.3/4,2021.4/4,2022.1/4,2022.2/4,2022.3/4,2022.4/4,2023.1/4 p)
0,북미,소계,소계,합계,소계,378879,382844,375879,509530,422330,...,1215815,1387318,1121238,1097486,1509169,1371419,1302057,1306548,1343954,1598423
1,북미,소계,소계,컴퓨터 및 주변기기,소계,7857,7232,8767,12159,11401,...,19129,19096,12646,12098,21662,24298,18972,20429,24874,30801
2,북미,소계,소계,가전·전자·통신기기,소계,18924,18173,23375,42605,31703,...,114376,131603,66291,56992,108149,77508,63235,72027,83723,96196
3,북미,소계,소계,가전·전자·통신기기,가전·전자,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,69356
4,북미,소계,소계,가전·전자·통신기기,통신기기,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,26840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,북미,소계,소계,아동·유아용품,소계,12,6,8,6,26,...,48,39,39,36,51,42,39,29,50,-
319,북미,소계,소계,음·식료품,소계,77,112,108,135,123,...,3838,4469,4460,4138,5241,5444,5702,5389,5376,-
320,북미,소계,소계,농축수산물,소계,0,1,0,0,0,...,6,189,247,159,194,165,100,93,55,-
321,북미,소계,소계,생활·자동차용품,소계,16,15,16,19,23,...,216,237,232,209,315,324,540,316,268,-
322,북미,소계,소계,기 타,소계,222,150,85,125,182,...,563,499,511,855,589,493,763,633,429,-

## 분석과 시각화를 위한 tidy data 만들기
* https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [26]:
df_raw=df_raw.drop(["지역별(2)","지역별(3)","상품군별(2)"],axis=1)
df_raw.columns

Index(['지역별(1)', '상품군별(1)', '2014.1/4', '2014.2/4', '2014.3/4', '2014.4/4',
       '2015.1/4', '2015.2/4', '2015.3/4', '2015.4/4', '2016.1/4', '2016.2/4',
       '2016.3/4', '2016.4/4', '2017.1/4', '2017.2/4', '2017.3/4', '2017.4/4',
       '2018.1/4', '2018.2/4', '2018.3/4', '2018.4/4', '2019.1/4', '2019.2/4',
       '2019.3/4', '2019.4/4', '2020.1/4', '2020.2/4', '2020.3/4', '2020.4/4',
       '2021.1/4', '2021.2/4', '2021.3/4', '2021.4/4', '2022.1/4', '2022.2/4',
       '2022.3/4', '2022.4/4', '2023.1/4 p)'],
      dtype='object')

In [33]:
df =df_raw.melt(id_vars=["지역별(1)", "상품군별(1)"],var_name="기간",value_name="백만원")
df.shape
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11951 entries, 0 to 11950
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역별(1)   11951 non-null  object
 1   상품군별(1)  11951 non-null  object
 2   기간       11951 non-null  object
 3   백만원      11650 non-null  object
dtypes: object(4)
memory usage: 373.6+ KB

## 데이터 전처리
### 기간에서 연도를 분리하기

In [40]:
df["연도"]=df["기간"].map(lambda x : int(x.split('.')[0]))
df.head()

  지역별(1)     상품군별(1)        기간     백만원    연도
0     북미          합계  2014.1/4  378879  2014
1     북미  컴퓨터 및 주변기기  2014.1/4    7857  2014
2     북미  가전·전자·통신기기  2014.1/4   18924  2014
3     북미  가전·전자·통신기기  2014.1/4       -  2014
4     북미  가전·전자·통신기기  2014.1/4       -  2014

In [46]:
df["분기"]=df["기간"].map(lambda x : int(x.split('.')[1].split("/")[0]))
df.head()
# df.info()

  지역별(1)     상품군별(1)        기간     백만원    연도  분기
0     북미          합계  2014.1/4  378879  2014   1
1     북미  컴퓨터 및 주변기기  2014.1/4    7857  2014   1
2     북미  가전·전자·통신기기  2014.1/4   18924  2014   1
3     북미  가전·전자·통신기기  2014.1/4       -  2014   1
4     북미  가전·전자·통신기기  2014.1/4       -  2014   1

### 금액을 수치데이터로 표현하기 위해 데이터 타입 변경하기

In [52]:
import numpy as np
df["백만원"] = df["백만원"].replace("-", np.nan).astype(float)
df.head()

  지역별(1)     상품군별(1)        기간       백만원    연도  분기
0     북미          합계  2014.1/4  378879.0  2014   1
1     북미  컴퓨터 및 주변기기  2014.1/4    7857.0  2014   1
2     북미  가전·전자·통신기기  2014.1/4   18924.0  2014   1
3     북미  가전·전자·통신기기  2014.1/4       NaN  2014   1
4     북미  가전·전자·통신기기  2014.1/4       NaN  2014   1

In [53]:
df

      지역별(1)     상품군별(1)           기간       백만원    연도  분기
0         북미          합계     2014.1/4  378879.0  2014   1
1         북미  컴퓨터 및 주변기기     2014.1/4    7857.0  2014   1
2         북미  가전·전자·통신기기     2014.1/4   18924.0  2014   1
3         북미  가전·전자·통신기기     2014.1/4       NaN  2014   1
4         북미  가전·전자·통신기기     2014.1/4       NaN  2014   1
...      ...         ...          ...       ...   ...  ..
11946     북미     아동·유아용품  2023.1/4 p)       NaN  2023   1
11947     북미       음·식료품  2023.1/4 p)       NaN  2023   1
11948     북미       농축수산물  2023.1/4 p)       NaN  2023   1
11949     북미    생활·자동차용품  2023.1/4 p)       NaN  2023   1
11950     북미         기 타  2023.1/4 p)       NaN  2023   1

[11951 rows x 6 columns]

### 필요없는 데이터 제거하기

In [60]:
# 합계 데이터는 따로 구할 수 있기 때문에 전체 데이터에서 제거합니다.
df = df[(df["지역별(1)"] != "합계") & (df["상품군별(1)"] != "합계")].copy()
# df["판매유형별"] != "계"
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11248 entries, 1 to 11950
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역별(1)   11248 non-null  object
 1   상품군별(1)  11248 non-null  object
 2   기간       11248 non-null  object
 3   백만원      5027 non-null   float64
 4   연도       11248 non-null  int64
 5   분기       11248 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 615.1+ KB

In [64]:
df.isnull().sum()
# 금액이 없는 데이터도 있다!

지역별(1)        0
상품군별(1)       0
기간            0
백만원        6221
연도            0
분기            0
dtype: int64

## K-Beauty 시각화
### 전체 상품군 판매액

In [ ]:
plt.figure(figsize=(15, 4))

In [ ]:
# df_sub

In [ ]:
# sns.relplot

### 화장품의 온라인쇼핑 해외직접판매액

In [ ]:
# df_cosmetic

### 의류 및 패션관련 상품 온라인쇼핑 해외직접판매액

In [ ]:
# df_fashion

### 데이터 집계하기

### 연산결과를 시각적으로 보기

## 전체 상품군별로 온라인쇼핑 해외직접판매액은 증가했을까?

In [ ]:
plt.figure(figsize=(15, 4))

* lengend를 그래프의 밖에 그리기 : [matplotlib - Move legend outside figure in seaborn tsplot - Stack Overflow](https://stackoverflow.com/questions/30490740/move-legend-outside-figure-in-seaborn-tsplot)

In [ ]:
plt.figure(figsize=(15, 4))